@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #CCEA8D, #A6BC09)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012331ad;
}

h1 {
    color: #019587;
    text-align: center;
    text-shadow: 1px 1px 2px #02534b8f;
}

h2 {
    color: #01415B;
}